* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aliceblue;
}

    header, footer {
    background-color: black;
    color: white;
}

.header-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
}

.links {
    text-align: right;
}

.header-container div {
    width: 33.3%;
}

.header-container img {
    height: 30px;
}

.pesquisa {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

input {
    padding: 10px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
}

header button {
    padding: 10px;
    width: 20%;
    background-color: black;
    border: none;
    margin-left: 8px;
    cursor: pointer;
}

header button:hover {
    background-color: rgb(107, 106, 106);
}

.header-container div a {
    text-decoration: none;
    color: white;
}

#link-sobre {
    margin-right: 20px;
}

section {
    max-width: 1024px;
    margin: 40px auto;
}

#titulo {
    text-align: center;
    margin: 60px 0;
    font-size: 1.5em;
    font-weight: bold;
}

#titulo h2 {
    font-size: 1em;
}

.card-produto ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-produto li {
    width: calc(25% - 10px);
    margin-bottom: 30px;
    background-color: #faf9f9;
    border-radius: 20px;
    box-shadow:  5px 5px 12px #929292, -5px -5px 12px #ffffff;
}

.card-produto img {
    height: auto;
    max-width: 100%;
    border-radius: 20px;
}

.card-produto div {
    padding: 10px;
}

#botoes {
    text-align: center;
}

button {
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
    
#container-sobre {
    background-color: black;
    padding: 1.5%;
    color: white;
    border-radius: 20px;
    box-shadow:  5px 5px 12px #929292,-5px -5px 12px #ffffff;
}

#sobre {
    display: flex;
}

#sobre img {
    max-width: 50%;
    margin-right: 24px;
    border-radius: 20px;
}

#sobre p {  
    font-size: 1.3em;
    text-align: justify;
}